# Core functionality - changes here should be rare!
/src/app.py                   @theinhtut
/src/backend/database.py      @theinhtut
/src/backend/routers/auth.py  @theinhtut

# The frontend will need refactored soon to be more object oriented.
/src/static/   @theinhtut
